* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #81adbf;
}

header h1 {
    display: inline-block;
    font-size: 35px;
}

header nav {
    padding-top: 15px;
    margin-right: 50px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

main {
    background-color: rgb(200, 207, 205);
}

main section {
    border: 1px solid red;
    margin: 3px;
    display: flex;
    flex-flow: row wrap;
}

main section div {
    border: 1px solid rgb(77, 255, 0);
    margin: 10px;
    padding: 5px;
}

main section div figure {
    width: 10%;
}

figure img {
    height: 100px;
}