* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #81adbf;
    padding: 10px;
}

header h1 {
    display: inline-block;
    font-size: 35px;
}

header nav {
    padding-bottom: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
    margin-bottom: 32px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

main {
    background-color: rgb(200, 207, 205);
    margin-top: 10px;
    padding: 10px;
}

main section {
    border: 1px solid red;
    margin: 3px;
}

main .my-bio {
    font-size: 16px;
}

main .apps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

main section div {
    border: 1px solid rgb(77, 255, 0);
    margin: 10px;
    padding: 5px;
    /* width: 20%; */
}

/*main section div figure {
    width: 10%;
}*/

main section div figure img {
    height: 100px;
    width: 200px;
}

/* The first app must be larger */
/* why will the size not change? */
main .apps .app-one {
    flex: 2 0 0;
}

/* The other apps should be the same size */
main .apps .app-normal {
    flex: 1 1 0;
}

main .contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* How do I move the header to the left? */
main .contact-info h2 {
    align-self: flex-start;
}

main .contact-info nav ul {
    list-style-type: none;
}

main .contact-info nav ul li {
    display: inline-block;
}